.center {
    width: 700px;
    margin: auto;
    padding-top: 10px;
}

#start {
    margin-top: 50px;
}

.board {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    justify-content: center;
    padding-top: 40px;
}

.tile {
    background-color: cornflowerblue;
    text-align: center;
    font-size: 100px;
}

span {
    display: inline-block;
    vertical-align: middle;
    /* line-height: normal; */
}

.tile:nth-child(even) {
    background-color: cyan;
}

.tile:nth-child(3n-2) {
    border-right: solid 10px black;
}

.tile:nth-child(3n+0) {
    border-left: solid 10px black;
}

.tile:nth-child(-n+3) {
    border-bottom: solid 10px black;
}

.tile:nth-child(n+7) {
    border-top: solid 10px black;
}

.title {
    max-width: 300px;
    text-align: center;
}

.center_button {
    display: block;
    max-width: 300px;
    margin: auto;
    margin-top: 20px;
  }

/* Modal Styles credit to W3Schools.com */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }